{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
    <h1 a>Login...</h1>
    <br/>
    <br/>
    <div class method="form-group">
        <form method="POST">
            {% csrf_token %}
            {% comment %} CSRF middleware token, create a value of this long sort a random number a key thing {% endcomment %}
            <div class="mb-3">
                <input type="text"
                       class="form-control"
                       name="username"
                       placeholder="Username">
            </div>
            <div class="mb-3">
                <input type="password"
                       class="form-control"
                       name="password"
                       placeholder="Password">
            </div>
            <div id="emailHelp" class="form-text">
                If you don't have account, Sign up <a href="{% url 'register' %}">here.</a>
            </div>
            <br/>
            <button class="btn btn-secondary">Login</button>
        </div>
    {% endblock %}
