{% extends 'base.html' %}
{% block title %}Register{% endblock %}
{% block content %}
    <h1 a>Register...</h1>
    <br/>
    <br/>
    <div class method="form-group">
        <form method="POST">
            {% csrf_token %}
            {% comment %} CSRF middleware token, create a value of this long sort a random number a key thing {% endcomment %}
            {{ form.as_p }}  {% comment %} Django form system {% endcomment %}
            <button class="btn btn-secondary">Register</button>
        </div>
    {% endblock %}
