{% extends 'base.html' %}
{% block title %}Edit blog post!{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1 a>Update Post...</h1>
            <br/>
            <br/>
            <div class method="form-group">
                <form method="POST">
                    {% csrf_token %}
                    {% comment %} CSRF middleware token, create a value of this long sort a random number a key thing {% endcomment %}
                    {{ form.media }}
                    {{ form.as_p }}  {% comment %} Django form system {% endcomment %}
                    <button class="btn btn-secondary">Update</button>
                </div>
            {% else %}
                You're not allowed here!
            {% endif %}
        {% else %}
            You're not allowed here!
        {% endif %}
    {% endblock %}
    {% comment %} : figure out who the loggin user et who created the post {% endcomment %}
